<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stop.stop_app">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name="com.stop.stop_app.SettingsActivity" />
        <activity android:name="com.stop.stop_app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.stop.stop_app.MainAppIntro" />

        <service
            android:name="com.stop.stop_app.MainService"
            android:enabled="true"
            android:foregroundServiceType="camera" />

        <receiver
            android:name="com.stop.stop_app.StopServiceBroadcastReceiver"
            android:enabled="true" />
        <service
            android:name="com.stop.stop_app.ToggleTileService"
            android:label="멈춰!"
            android:icon="@drawable/ic_small_icon"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>